version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  target-branch: main
  schedule:
    # Check for updates to GitHub Actions every weekday
    interval: "daily"
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  target-branch: main
  reviewers:
  - jas88
